:root {
    --primary-color:#0a1118;
    --primary-color-highlight:#233D54;
    --bs-body-bg:#FBF0F6;
    --bs-body-font-family:'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
}
a {color: var(--primary-color);}
a:hover {color: var(--primary-color);}

a {
    font-family: 'Assistant', sans-serif;
}

li a:hover {
    color: aquamarine !important;
}

p {
    font-size: 18px;
    text-align:justify;
    font-family: 'Assistant', sans-serif;
}

.header {
    z-index: 2;
}

.cc-navbar {
    font-family: 'Ubuntu Mono', serif;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
  
}

.carousel-item {
   background-position: center;
   background-size: cover;
}

.row {
    --bs-gutter-y: 1.5rem !important;
}

.card {
    position: unset !important;
}
.carousel-item {
    position: unset !important;
}

.container-custom {
  
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  #progress {
    position: fixed;
    bottom: 20px;
    right: 5px;
    height: 35px;
    width: 35px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  #progress-value {
    display: block;
    height:70%;
    width:70%;
    background-color: #fff;
    border-radius: 100%;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #0a1118;
  }
  .size-desc {
    font-size: 14px;
    text-align: left;
}


@media (min-width: 597px) {.container-custom { 
    width: 100%;
    float: left;
    padding-left: 4rem;
 }

 .video-text {
    display:none;
}
}

@media (min-width: 360px) {
  .video-text {
    display:none;
}
}

@media (min-width: 720px) {.container-custom { 
    width: 100%;
    float: left;
    padding-left: 4rem;
 }
}


@media (min-width: 1200px) {
    .container-custom { 
    width: 100%;
    }

   p {
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}

.size-desc {
    font-size: 18px;
    text-align: left;
}

}
@media (min-width: 1400px) {.container-custom { 
    width: 100%;
    float: left;
    padding-left: 4rem;
 }
}
@media (min-width: 1600px) {.container-custom { 
    width: 100%;
    float: left;
    padding-left: 4rem;
 }
}
#navbar {
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
}

.container-fluid {
    width: 100% !important;
    
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}
.dropdown-nav__container {
    height: 100vh;
    padding: 0 , 1rem;
    
}
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
    object-fit: cover;
}
.hero__video {
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}


.hero__overplay {
    position:relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: 1;
}


.text-white a{
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.hero__scroll-btn:hover {
    color: var(--bs-body-bg);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateY(-10px);
    }
}
.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}
.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}
.steps {
    padding: 0 40px;
}
.cc-steps {
    padding: 40px 40px;
}

/**Product image start here **/
.image-size {
    height:220px;
    width: 100%;

}

.image {
    position: relative;
}

.image__overlay {
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 350px;
     background: rgba(0, 0, 0, 0.6);
     color:#fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     opacity: 0;
     transition: opacity 0.25s;
     padding: 0 23px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Assistant', sans-serif;
    
}

.image-desc {
    font-size: 1.25em;
    font-family: 'Assistant', sans-serif;
    margin-top: 0.25em;
}


.cc-image-size {
    height:300px;
}


.cc-background {
    background-color: black;
}
span {
    font-size: 10px;
}
.navbar-toggler {
 border: 2px solid rgb(116, 113, 113)!important;
  }



@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .steps__section-thumbnail {
        height: auto;
    }
    .video-text {
        display:none;
    }
  
 }
